{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block sb_admin_navbar_right %}
{% endblock sb_admin_navbar_right %}
{% block sb_admin_sidebar %}
{% endblock sb_admin_sidebar %}

{% block sb_admin_breadcrumb %}<i class="fa fa-user"></i><a href="{% url 'login' %}">&nbsp;&nbsp;Login</a>{% endblock sb_admin_breadcrumb %}


{% block content %}


<h2>Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form | crispy }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>    
{% endblock content %}