{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}

{% block sb_admin_navbar_right %}
{% endblock sb_admin_navbar_right %}
{% block sb_admin_sidebar %}
{% endblock sb_admin_sidebar %}

{% block sb_admin_breadcrumb %}<i class="fa fa-user"></i><a href="{% url 'login' %}">&nbsp;&nbsp;Login</a>{% endblock sb_admin_breadcrumb %}


{% block content %}
<h2>Reset Password</h2>
<p>If the email address is associated to an account, then you should receive a password shortly.</p>
<p> Please Check Your Email - Be sure to check the spam/junk folder in case the email has been delivered there.</p>
{% endblock content %}