{% extends 'core/base.html' %}

{% load static %}

{% block title %} Process Files {%endblock title%}


{% block customcss %}
    <link href='{% static "/vendor/chartjs/chartjs.min.css" %}' rel="stylesheet" type="text/css">
{% endblock customcss %}

{% block sidebar %} {% endblock sidebar %}


{% block content %}
<button id='buttonDoughnut' type='button' class='btn btn-success '>Donught Chart</button>
<button id='buttonPie' type='button' class='btn btn-success '>Pie Chart</button>
<button id='buttonBar' type='button' class='btn btn-success'>Bar Chart</button>
<div class='card card-body shadow border-secondary' id="testChart" style="position: relative;" >
    
    <canvas id="myChart"  aria-label = "Test Graph" role="figure"></canvas>

    
</div>

{% endblock content %}

{% block footerjs %}
<script src='{% static "/vendor/chartjs/chartjs.min.js" %}'></script>
<script>

function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    
    var graphLabels = {% autoescape off %} [{{ top_topics }}] {% endautoescape  %};
    var graphTotals = {{totals}};
    var ctx = document.getElementById('myChart');
    var graphSize = graphTotals.length;
    var bgColor = new Array();
    for (var i = 0; i <  graphSize; i++ )
    {
       bgColor.push(getRandomColor());
    }
    console.log ([bgColor]);

    var chartData  = {
            
            labels : graphLabels,
 
            datasets: [{
                label: '',
                data: graphTotals,                
                borderWidth: 3, 
                backgroundColor: bgColor,
            }]
        }; 
    console.log(chartData);
    
    var config = {
        type: 'doughnut',
        data : chartData,
        options: {
            
            title: 
            {
                text: 'Number of Questions per Topic (of the top 10 Topics)',
                display: true,
            },
            responsive: true,        
        }
    }
    
    
    
    var myChart = new Chart(ctx, config);
    
    </script>

<script>
    document.getElementById('buttonBar').onclick = function() 
    {   $("button").removeAttr('disabled');
        $("#buttonBar").attr('disabled',true);
        
        myChart.destroy();
        myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                legend: {
            display: false,
        },   
            title: 
            {
                text: 'Number of Questions per Topic (of the top 10 Topics)',
                display: true,
            },
        }
            
        });
    };    
    </script>

<script>
    document.getElementById('buttonDoughnut').onclick = function() 
    {   $("button").removeAttr('disabled');
        $("#buttonDoughnut").attr('disabled',true);
        
        myChart.destroy();
        myChart = new Chart(ctx,config)
    };    
    </script>


<script>
    document.getElementById('buttonPie').onclick = function() 
    {   $("button").removeAttr('disabled');
        $("#buttonPie").attr('disabled',true);
        
        myChart.destroy();
        myChart = new Chart(ctx, {
            type: 'pie',
            data: chartData,
            options: {
            title: 
            {
                text: 'Number of Questions per Topic (of the top 10 Topics)',
                display: true,
            },
        }
            
        });
    };    
    </script>
   
{% endblock footerjs %}
