{% extends "core/base.html" %}
{% load static %}

{% block title %}Question Generator{% endblock title %}

{% block customcss %}

<style>
	select {
  -webkit-appearance: none;
  appearance: none;
  cursor:pointer;
  background: white;
}
</style>
{% endblock customcss %}

{% block sidebar %} {% endblock sidebar %}



{% block content %}

<div id="mainQuestions" class="card shadow border-secondary mb-4">
<noscript>
    <div class="alert alert-warning text-center text-black text-uppercase font-weight-bolder border-danger">
        Please enable Javascript to proceed
    </div>
</noscript>

<div class="alert alert-info border-dark text-uppercase text-center font-weight-bold" id="info">
	Loading Data. Please wait....
	
</div>

<div class="card-header py-3">
<!-- Use to create dropdown list -->
<div id="topics"></div>
<button class="invisible btn btn btn-dark text-white" id="random-button"> <i class="fas fa-sync-alt"></i> Random</button>
<button type="submit" onclick='exportToWord()' class="invisible btn btn btn-primary text-white" id="exportWord"> <i class="fas fa-file-word"></i> Worksheet</button>


</div>
<div class="card-body text-dark">
	<div id="questions" class="questions"></div>

</div>
</div>

{% endblock content %}

{% block footerjs %}
<script type="text/javascript" src="{% static 'vendor/handlebars/handlebars.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/docx/index.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/docx/FileSaver.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datasheet.js' %}"></script>


<script>
    	$(document).ready(function(){
		var apiOutput = null
		$('#exportWord').hide();
		$('#random-button').hide();
		getQuestions("http://3.11.69.77:8000/api/v1/questions?subjectid={{subject}}")
        console.log("Getting Questions from http://3.11.69.77:8000/api/v1/questions?subjectid={{subject}}"  )
	})
</script>


{% verbatim %}
<script id="topics-template" type="text/x-handlebars-template">		
	<div class="form-group">
		<label for="select-topics">Topic</label>
	<select class="text-center form-control" id="select-topics">
		<option disabled selected>----Select a Topic----</option>
		{{#each this}}
		<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	</div>
</script>
{% endverbatim %}


{% verbatim %}
<script id="question-template" type="text/x-handlebars-template">
		<table class="quiz table table-hover table-striped table-light table-bordered" id="quiz1">
			<thead>
				<th>Questions</th>
				<th>Answers</th>
			</thead>
			<tbody>
				{{#each this}}
				<tr>
					<td> {{questiontext}} </td>
					<td></td>
				</tr>
				{{/each}}
			</tbody>
        </table>
        {% endverbatim %}
        {% if user.is_authenticated %}
        {% verbatim %}
        <table class="quiz table table-hover table-striped table-dark table-bordered" id="quiz2">
			<thead>
				<th>Questions</th>
				<th>Answers</th>
			</thead>
			<tbody>
				{{#each this}}
				<tr>
					<td class="printwidth">{{questiontext}}</td>
					<td>				
					{{#if isImageAnswer}}
					<img src="{{questionanswer}}" style="max-height: 200px;">
					{{else}}
						{{questionanswer}}
					{{/if}}
					</td>
				</tr>
				{{/each}}
			</tbody>
        </table> 
        {% endverbatim %}
        {% endif %}       
</script>




<script>
	function exportToWord()
{
    const subject = (results[0]['subjectid']['subjectname'])
    const topic = (results[0]['topicid']['topicname'])


    let doc = new docx.Document(
    {
        title: subject + ":" + topic + " Worksheet",
        creator: "TeachingPeriodically",
        title: subject + ":" + topic + " Worksheet",
        description: "Exported Questions for " + topic,
        subject: subject,
        lastModifiedBy:
        {% if user.is_authenticated %}
        	"{{ request.user }}"
        {% else %}
        	"Unknown"
        {% endif %},
        revision: 1,
    })

    const mimeType =
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
	


	const docTitle = 
        	new docx.Paragraph({
            	alignment: docx.AlignmentType.CENTER,
				children: 
				[new docx.TextRun({
						text: subject + " Questions",
						bold:true,
						color: "black",						
						size: 48,
						font: "Calibri",
						smallCaps: true,						
					})
				],
        		})

		const blankParagraph = new docx.Paragraph({
    	text: "",
		});

		const topicParagraph = 
        	new docx.Paragraph({
            	alignment: docx.AlignmentType.CENTER,
				children: 
				[new docx.TextRun({
						text: "Topic - " + topic,
						bold:true,
						color: "black",						
						size: 28,
						font: "Calibri",
						smallCaps: true,						
					})
				],
        		})

				const pageBreak = new docx.Paragraph({
    children: [new docx.PageBreak()],
});


    const rowWorksheet = results.map(function (result)
    {
        return new docx.TableRow(
        {
            children: [
                new docx.TableCell(
                {
                    children: [new docx.Paragraph(result.questiontext)],
                    width:
                    {
                        size: 40,
                        type: docx.WidthType.PERCENTAGE,
                    }
                }),
                new docx.TableCell(
                {
                    children: [],
                    width:
                    {
                        size: 60,
                        type: docx.WidthType.PERCENTAGE,
                    }
                }),
            ],
        })
    })

{% if user.is_authenticated %}
    const rowWorksheetAnswers = results.map(function (result)
    {
        return new docx.TableRow(
        {
            children: [
                new docx.TableCell(
                {
                    children: [new docx.Paragraph(result.questiontext)],
                    width:
                    {
                        size: 40,
                        type: docx.WidthType.PERCENTAGE,
                    }
                }),
                new docx.TableCell(
                {
                    children: [new docx.Paragraph(result.questionanswer)],
                    width:
                    {
                        size: 60,
                        type: docx.WidthType.PERCENTAGE,
                    }
                }),
            ],
        })
    })
{% endif %}


    const tableblank = new docx.Table(
    {
        margins:
        {
            top: 250,
            bottom: 250,
            right: 200,
            left: 100,
        },
		cantSplit: true,
        rows: rowWorksheet,

    });

{% if user.is_authenticated %}
	const tableAnswers = new docx.Table(
    {
        margins:
        {
            top: 250,
            bottom: 250,
            right: 200,
            left: 100,
        },
		cantSplit: true,
        rows: rowWorksheetAnswers,

    });

{% endif %}

    doc.addSection(
    {
        
		footers: {
			default: new docx.Footer({

				children: [new docx.Paragraph("Downloaded from Teaching Periodically")]
			})

		},
		children: [
		
            docTitle,
			blankParagraph,
			topicParagraph,
            tableblank,
			{% if user.is_authenticated %}
				pageBreak,
				tableAnswers,
			{% endif %}
			
        ],
    });

    docx.Packer.toBlob(doc)
        .then(blob =>
        {
            console.log(blob);
            saveAs(blob, subject + "_" + topic + "_worksheet.docx");
            console.log("Document created successfully");
        });

}

</script>

{% endblock %}